* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-bgc;
  font-family: $font-text;
}

.page-container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

.section-title {
  padding: 200px 0 200px 50px;
  font-size: 70px;
  color: $section-title-color;
  font-family: $font-header;
}

.fa-arrow-alt-circle-up {
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 2;
  color: $arrow-toTop-color;
  font-size: 50px;
  cursor: pointer;
}

@media(max-width:1030px) {
  .section-title {
    font-size: 50px;
    padding: 100px 0;
    text-align: center;
  }
}

@media(max-width:660px) {
  .section-title {
    font-size: 40px;
    line-height: 50px;
  }
}