$font-header: 'Josefin Sans',
sans-serif;
$font-text: 'Roboto Mono',
monospace;

$nav-bgc:#448AFF;
$navLink-color:#ffd700;
$nav-hover-bgc:#212121;
$nav-hover-color:#daa520;

$hamburger-color:#daa520;

$header-text-color:#f5f5f5;
$hedaer-bgc:#0288D1;
$header-name-color:#ffd700;
$header-btn-bgc:#1169e1;
$header-btn-color:rgb(255, 215, 0);

$btn-hover-bgc:#1169e1;
$btn-hover-color:#ffd700;
$btn-bgc:#4169e1;
$btn-color:#ffffff;

$portfolio-bgc:#d3dcf8;
$portfolio-shadow-image:0 0 2em whitesmoke;

$skill-paragraph-hover-color:#ffd700;
$soft-skills-bgc:#4169e1;
$hard-skill-table-bgc:#4169e1;
$hard-skill-table-hover:#448AFF;

$aboutMe-paragraph-bgc:royalblue;
$aboutMe-paragraph-selection-bgc:#ffd700;

$footer-bgc:#a7b9f1;
$footer-text-color:#ffffff;

$body-bgc:#f5f5f5;
$column-text-color:#ffffff;
$section-title-color:rgba(119, 136, 153, 0.6);

$arrow-toTop-color:#ffd700;
$box-shadow-grey:0 0 1em #778899;